/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$sprite-ico-bdr-h-name: 'sprite-ico-bdr-h';
$sprite-ico-bdr-h-x: 0px;
$sprite-ico-bdr-h-y: 0px;
$sprite-ico-bdr-h-offset-x: 0px;
$sprite-ico-bdr-h-offset-y: 0px;
$sprite-ico-bdr-h-width: 33px;
$sprite-ico-bdr-h-height: 33px;
$sprite-ico-bdr-h-total-width: 66px;
$sprite-ico-bdr-h-total-height: 33px;
$sprite-ico-bdr-h-image: '../img/sprite.png';
$sprite-ico-bdr-h: (0px, 0px, 0px, 0px, 33px, 33px, 66px, 33px, '../img/sprite.png', 'sprite-ico-bdr-h', );
$sprite-ico-bdr-name: 'sprite-ico-bdr';
$sprite-ico-bdr-x: 33px;
$sprite-ico-bdr-y: 0px;
$sprite-ico-bdr-offset-x: -33px;
$sprite-ico-bdr-offset-y: 0px;
$sprite-ico-bdr-width: 33px;
$sprite-ico-bdr-height: 33px;
$sprite-ico-bdr-total-width: 66px;
$sprite-ico-bdr-total-height: 33px;
$sprite-ico-bdr-image: '../img/sprite.png';
$sprite-ico-bdr: (33px, 0px, -33px, 0px, 33px, 33px, 66px, 33px, '../img/sprite.png', 'sprite-ico-bdr', );
$spritesheet-width: 66px;
$spritesheet-height: 33px;
$spritesheet-image: '../img/sprite.png';
$spritesheet-sprites: ($sprite-ico-bdr-h, $sprite-ico-bdr, );
$spritesheet: (66px, 33px, '../img/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
