@import '_reset.scss';
/* @import '_forms.scss'; */
/* @import '_wordpress.scss'; */
/* @import '_comments.scss'; */
@import '_font_fontawesome.scss';
@import '_font_opensans.scss';
@import '_sprite.scss';
@import '_mixin.scss';
@import '_carousel.scss';
$width: 1024px;
$color: #1a1a1a;
$color_a: #323232;
$color_red: #f3546a;
/* bordercolor */
$bdc: #e6e6e6;
$trs: all 1s;
/* wide sand short block */
$block-wd: 66.22%;
$block-st: 30.5%;



body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;

  min-width: 340px;

  color: $color;
  background-color: #fff;
}
a {
  transition: $trs;

  color: $color_a;
  &:hover {
    color: lighten($color_a, 10%);
  }
  &:active {
    color: lighten($color_a, 20%);
  }
}

.wrapper {
  position: relative;

  width: 100%;
  height: auto !important;
  height: 100%;
  min-height: 100%;
  margin: 0 auto;
}
header {
  position: relative;

  width: $width;
  height: 105px;
  margin: 0 auto;
  h1 {
    font-size: 40px;
    line-height: 20px;

    position: absolute;
    top: 50px;
    left: 17px;

    text-transform: uppercase;
  }
}
section {
  width: $width;
  margin: 0 auto;
  padding: 0 20px 130px 18px;
}
.product {
  @extend .clearfix;
  .feature-img {
    display: inline-block;
    float: left;

    width: $block-wd;
    margin: 0 0 25px;

    transition: all 0s;
    text-align: center;

    border: 1px solid $bdc;
    background-color: #fff;
    img {
      width: 100%;
    }
  }
  form {
    float: right;

    width: $block-st;
    margin: 0 0 25px;
    padding: 0 0 30px;

    border-bottom: 1px solid $bdc;
    dl {
      width: 100%;
      margin: 0 0 30px;

      border-bottom: 1px solid $bdc;

      @extend .clearfix;
    }
    dt,
    dd {
      display: inline-block;
      float: left;

      height: 42px;
      margin: 0 0 30px;
    }
    dt {
      font-size: 15px;
      font-weight: bold;
      line-height: 2.6;

      width: 28%;

      color: #4b4b4b;
    }
    dd {
      width: 72%;
      select,
      option {
        width: 100%;
        height: 100%;
        padding: 0 13px;
      }
      select {
        font-size: 15px;
        line-height: 1;

        position: relative;
        z-index: 0;

        width: 100%;
        height: 100%;
        padding: 5px;

        text-transform: uppercase;

        border: 1px solid #969696;
        border-radius: 0;
        outline: none;
        background: transparent;

        -webkit-appearance: none;
      }
    }
    .has-select {
      position: relative;
      z-index: 0;
      &:after {
        font-weight: 700;

        position: absolute;
        z-index: -1;
        top: 15px;
        right: 10px;

        display: block;

        content: 'ᐯ';

        background-color: transparent;
      }
    }
    .select-color {
      ul {
        font-size: 1px;
        line-height: 0;

        zoom: 1;

        text-align: justify;
        text-align-last: justify;
        text-justify: newspaper;
        &:after {
          display: inline-block;
          visibility: hidden;
          overflow: hidden;

          width: 100%;
          height: 0;

          content: '';
        }
      }
      li {
        font-size: 14px;
        line-height: normal;

        display: inline-block;
        display: inline-block;

        width: 19.72%;
        max-width: 43px;
        height: 43px;

        cursor: pointer;
        text-align: left;
        vertical-align: top;

        border: 2px solid transparent;
        &:last-child {
          margin: 0 !important;
        }
        &:hover {
          border-color: lighten(#d2d2d2, 15%);
        }
      }
      .color-active {
        border-color: #d2d2d2;
      }
      .color-grey {
        background-color: #fbfbfb;
      }
      .color-blue {
        background-color: #add4eb;
      }
      .color-violet {
        background-color: #bbafd9;
      }
      .color-red {
        background-color: #ebadc3;
      }
    }
    h6 {
      font-size: 14px;
      font-weight: bold;

      margin: 0 0 8px;

      color: #4c4c4c;
      span {
        color: $color_red;
      }
    }
    .price {
      font-size: 42px;
      font-weight: bold;

      display: block;

      margin: 0 0 27px;
      padding: 0;

      @extend .clearfix;
      li {
        display: inline-block;
        float: left;

        width: 50%;
      }
      .price-old {
        text-decoration: line-through;

        color: #c8c8c8;
      }
      .price-normal {
        color: $color_red;
      }
    }
    button {
      font-size: 12px;
      font-weight: bold;

      width: 80.79%;
      padding: 15px 0 14px;

      text-align: center;
      text-transform: uppercase;

      color: #454545;
      border: 3px solid #464646;
      background-color: transparent;
      &:hover {
        color: lighten(#454545, 10%);
        border-color: lighten(#464646, 10%);
      }
    }
  }
  .description {
    font-size: 15px;

    float: left;

    width: $block-wd;
    padding: 0 0 70px;
    .full-title {
      font-size: 21px;
      font-weight: bold;

      margin: 0 0 4px;
    }
    .product-id {
      font-size: 18px;
      font-weight: normal;

      margin: 0 0 30px;
    }
    .show-additional {
      font-size: 12px;
      font-weight: bold;

      position: relative;

      display: none;

      width: 100px;
      margin: 0 0 30px;
      padding: 15px 0 0;

      text-align: left;
      text-transform: uppercase;

      border: 0;
      border-top: 2px solid #191919;
      outline: none;
      background-color: transparent;
      &:after {
        font-weight: bold;

        position: absolute;
        right: 0;
        bottom: 0;

        display: block;

        content: 'ᐯ';
      }
    }
    .show-additional-show {
      margin: 0 0 10px;
      &:after {
        content: 'ᐱ';
      }
    }
    p {
      line-height: 20px;

      margin: 0 0 30px;
      padding: 0 120px 0 0;
    }
    ul {
      list-style: disc;
      list-style-position: inside;;
      li {
        position: relative;

        margin: 0 0 5px;
        padding: 0;
      }
    }
  }
  .share-block {
    position: relative;

    float: right;

    width: $block-st;
    padding: 0 58px 0 68px;
    h6 {
      font-weight: bold;

      position: absolute;
      top: 10px;
      left: 0;

      text-transform: uppercase;

      color: #4c4c4c;
    }
    ul {
      width: 100%;

      @extend .clearfix;
      li {
        display: inline-block;
        float: left;

        width: 33px;
        height: 33px;
        margin: 0 7px;

        border-radius: 50%;
        a {
          font-size: 17px;
          line-height: 1.7;

          display: block;

          width: 100%;
          height: 100%;

          text-align: center;
          text-decoration: none;

          color: #969696;
          border: 3px solid #969696;
          border-radius: 50%;
          &:hover {
            color: #dc6575;
            border-color: #dc6575;
          }
        }
        &:first-child {
          margin-left: 0;
        }
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
.relative {
  font-size: 1px;
  line-height: 0;

  position: relative;

  zoom: 1;

  width: 100%;
  margin: 0;
  padding: 0;

  text-align: justify;
  text-align-last: justify;
  text-justify: newspaper;
  &:after {
    display: inline-block;
    visibility: hidden;
    overflow: hidden;

    width: 100%;
    height: 0;

    content: '';
  }
  .slick-container {
    font-size: 14px;
    line-height: normal;

    position: relative;
    z-index: 0;

    display: inline-block;
    overflow: hidden;

    text-align: left;
    vertical-align: top;
    span {
      position: absolute;
      z-index: 1;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      display: block;

      padding: 65px 45px 0;

      content: '';
      transition: all .7s;

      background-color: transparent;
    }
    img {
      width: 100%;
      min-height: 100%;
    }
    h4 {
      font-size: 24px;
      font-weight: bold;

      position: relative;
      z-index: 2;

      margin: 0 0 33px;

      text-align: center;
      text-transform: uppercase;

      color: #fff;
    }
    a {
      line-height: 1;

      position: relative;
      z-index: 2;

      display: block;

      width: 60%;
      margin: 0 auto;
      padding: 13px 0;

      text-align: center;
      text-decoration: none;
      text-transform: uppercase;

      color: #272727;
      background-color: #e4e4e3;
    }
    span,
    h4,
    a {
      display: none;

      transition: $trs;

      opacity: 0;
    }
    &:hover {
      span,
      h4,
      a {
        display: block;

        opacity: 1;
      }
      span {
        background-color: grey;
        background-color: rgba(0, 0, 0, .2);
      }
    }
  }
}


@import 'media.scss';
