@import '_reset.scss';
@import '_forms.scss';
@import '_wordpress.scss';
@import '_comments.scss';
@import '_font_fontawesome.scss';
@import '_font_opensans.scss';
@import '_sprite.scss';
@import '_mixin.scss';
$width: 1023px;
$footer: 100px;
$footer_margin: $footer - 2 * $footer;
$color: #444;
$color_a: #323232;
$trs: all .5s;

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;

  color: $color;
  background-color: #fff;
}
a {
  transition: $trs;

  color: $color_a;
  &:hover {
    color: lighten($color_a, 10%);
  }
  &:active {
    color: lighten($color_a, 20%);
  }
}

.wrapper {
  position: relative;

  width: 100%;
  height: auto !important;
  height: 100%;
  min-height: 100%;
  margin: 0 auto;
}
header {
  position: relative;

  width: $width;
  height: 105px;
  margin: 0;

  appearance: none;
  h1 {
    font-size: 40px;
    line-height: 20px;

    position: absolute;
    top: 46px;
    left: 20px;
  }
}


section {
  width: $width;
  margin: 0 auto;
  padding: 0;
}
