@import '_reset.scss';
/* @import '_forms.scss'; */
/* @import '_wordpress.scss'; */
/* @import '_comments.scss'; */
@import '_font_fontawesome.scss';
@import '_font_opensans.scss';
@import '_sprite.scss';
@import '_mixin.scss';
$width: 1024px;
$color: #1a1a1a;
$color_a: #323232;
$color_red: #f3546a;
/* bordercolor */
$bdc: #e6e6e6;
$trs: all 5s;
/* wide sand short block */
$block-wd: 66.22%;
$block-st: 30.5%;



body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;

  color: $color;
  background-color: #fff;
}
a {
  transition: $trs;

  color: $color_a;
  &:hover {
    color: lighten($color_a, 10%);
  }
  &:active {
    color: lighten($color_a, 20%);
  }
}

.wrapper {
  position: relative;

  width: 100%;
  height: auto !important;
  height: 100%;
  min-height: 100%;
  margin: 0 auto;
}
header {
  position: relative;

  width: $width;
  height: 105px;
  margin: 0 auto;
  h1 {
    font-size: 40px;
    line-height: 20px;

    position: absolute;
    top: 50px;
    left: 17px;

    text-transform: uppercase;
  }
}


section {
  width: $width;
  margin: 0 auto;
  padding: 0 20px 130px 18px;

  border-right: 1px solid red;
  border-left: 1px solid red;
}
.product {
  @extend .clearfix;
  .feature-img {
    display: inline-block;
    float: left;

    width: $block-wd;
    /*     height: 419px; */
    margin: 0 0 25px;

    text-align: center;

    border: 1px solid $bdc;
    background-color: #fff;
    img {
      width: 100%;
    }
  }
  form {
    float: right;

    width: $block-st;
    margin: 0 0 25px;
    padding: 0 0 30px;

    border-bottom: 1px solid $bdc;
    dl {
      width: 100%;
      margin: 0 0 30px;

      border-bottom: 1px solid $bdc;

      @extend .clearfix;
    }
    dt,
    dd {
      display: inline-block;
      float: left;

      height: 42px;
      margin: 0 0 30px;
    }
    dt {
      font-size: 15px;
      font-weight: bold;
      line-height: 2.6;

      width: 28%;

      color: #4b4b4b;
    }
    dd {
      width: 72%;
      select {
        border: 1px solid #969696;
      }
      select,
      option {
        width: 100%;
        height: 100%;
        padding: 0 13px;
      }
    }
    .select-color {
      li {
        display: inline-block;

        width: 19.72%;
        height: 43px;
        margin: 0 2.29%;

        cursor: pointer;

        border: 2px solid transparent;
        &:first-child {
          margin-right: 3.21%;
          margin-left: 0;
        }
        &:last-child {
          margin-right: 0;
          margin-left: 3.21%;
        }
        &:hover {
          border-color: lighten(#d2d2d2, 15%);
        }
      }
      .color-active {
        border-color: #d2d2d2;
      }
      .color-grey {
        background-color: #fbfbfb;
      }
      .color-blue {
        background-color: #add4eb;
      }
      .color-violet {
        background-color: #bbafd9;
      }
      .color-red {
        background-color: #ebadc3;
      }
    }
    h6 {
      font-size: 14px;
      font-weight: bold;

      margin: 0 0 8px;

      color: #4c4c4c;
      span {
        color: $color_red;
      }
    }
    .price {
      font-size: 42px;
      font-weight: bold;

      display: block;

      margin: 0 0 27px;
      padding: 0;

      @extend .clearfix;
      li {
        display: inline-block;
        float: left;

        width: 50%;
      }
      .price-old {
        text-decoration: line-through;

        color: #c8c8c8;
      }
      .price-normal {
        color: $color_red;
      }
    }
    button {
      font-size: 12px;
      font-weight: bold;

      width: 80.79%;
      padding: 15px 0 14px;

      text-align: center;
      text-transform: uppercase;

      color: #454545;
      border: 3px solid #464646;
      background-color: transparent;
      &:hover {
        color: lighten(#454545, 10%);
        border-color: lighten(#464646, 10%);
      }
    }
  }
  .description {
    font-size: 15px;

    float: left;

    width: $block-wd;
    padding: 0 0 70px;
    .full-title {
      font-size: 21px;
      font-weight: bold;

      margin: 0 0 4px;
    }
    .product-id {
      font-size: 18px;
      font-weight: normal;

      margin: 0 0 30px;
    }
    .show-additional {
      font-size: 12px;
      font-weight: bold;

      position: relative;

      display: none;

      width: 100px;
      margin: 0 0 30px;
      padding: 15px 0 0;

      text-align: left;
      text-transform: uppercase;

      border: 0;
      border-top: 2px solid #191919;
      outline: none;
      background-color: transparent;
      &:after {
        font-weight: bold;

        position: absolute;
        right: 0;
        bottom: 0;

        display: block;

        content: 'ᐯ';
      }
    }
    .show-additional-show {
      margin: 0 0 10px;
      &:after {
        content: 'ᐱ';
      }
    }
    p {
      line-height: 20px;

      margin: 0 0 30px;
      padding: 0 120px 0 0;
    }
    ul {
      list-style: disc;
      list-style-position: inside;;
      li {
        position: relative;

        margin: 0 0 5px;
        padding: 0;
      }
    }
  }
  .share-block {
    position: relative;

    float: right;

    width: $block-st;
    padding: 0 58px 0 68px;
    h6 {
      font-weight: bold;

      position: absolute;
      top: 10px;
      left: 0;

      text-transform: uppercase;

      color: #4c4c4c;
    }
    ul {
      width: 100%;

      @extend .clearfix;
      li {
        display: inline-block;
        float: left;

        width: 33px;
        height: 33px;
        margin: 0 7px;

        border-radius: 50%;
        a {
          font-size: 17px;
          line-height: 1.7;

          display: block;

          width: 100%;
          height: 100%;

          text-align: center;
          text-decoration: none;

          color: #969696;
          border: 3px solid #969696;
          border-radius: 50%;
          &:hover {
            color: #dc6575;
            border-color: #dc6575;
          }
        }
        &:first-child {
          margin-left: 0;
        }
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
.relative {
  display: block;

  width: 100%;
  margin: 0;
  padding: 0;

  @extend .clearfix;
  li {
    position: relative;
    z-index: 0;

    display: inline-block;
    float: left;
    overflow: hidden;

    width: 30.69%;
    margin: 0 1.93%;
    span {
      position: absolute;
      z-index: 1;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      display: block;

      padding: 70px 50px 0;

      content: '';

      background-color: rgba(0, 0, 0, .2);
    }
    img {
      width: 100%;
      min-height: 100%;
    }
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
    h4 {
      font-size: 24px;
      font-weight: bold;

      position: relative;
      z-index: 2;

      margin: 0 0 33px;

      text-align: center;
      text-transform: uppercase;

      color: #fff;
    }
    a {
      line-height: 1;

      position: relative;
      z-index: 2;

      display: block;

      width: 44.7%;
      margin: 0 auto;
      padding: 13px 0;
      /*       height: 34px; */

      text-align: center;
      text-decoration: none;
      text-transform: uppercase;

      color: #272727;
      background-color: #e4e4e3;
    }
    span,
    h4,
    a {
      display: none;
      /* display: block; */

      transition: $trs;

      opacity: 0;
    }
    &:hover {
      span,
      h4,
      a {
        display: block;

        opacity: 1;
      }
    }
  }
}
@import 'media.scss';

@media (min-width: 320px) and (max-width: 767px) {
  header,
  section {
    width: 100%;
    min-width: 320px;

    background-color: red;
  }
  header {
    height: 63px;
    h1 {
      font-size: 24px;
      font-weight: normal;

      top: 22px;
      left: 20px;
    }
  }
  section {
    padding: 0 20px;
  }
  .product {
    .feature-img {
      width: 100%;
    }
    form {
      width: 100%;
      margin: 0 0 25px;
      padding: 0 0 5px;
      dl {
        margin: 0 0 26px;
        padding: 0 0 5px;
      }
      dt {
        font-size: 15px;
        font-weight: bold;
        line-height: 2.5;

        width: 30%;
        height: auto;
        height: 15px;
        margin: 0 0 10px;
      }
      dd {
        width: 70%;
        margin: 0 0 20px;
      }
      .select-color {
        min-width: 195px;
        max-width: 218px;
        li {
          display: inline-block;

          width: 43px;
          height: 43px;
          margin: 0 1%;

          cursor: pointer;

          border: 2px solid transparent;
          &:first-child {
            margin-left: 0;
            margin-right: 1%;
          }
          &:last-child {
            margin-right: 0;
            margin-left: 1%;
          }
          &:hover {
            border-color: lighten(#d2d2d2, 15%);
          }
        }
      }
      .price {
        margin: 0 0 20px;
        .price-old {
          display: none;
        }
        .price-normal {
          font-size: 36px;

          width: 100%;

          color: #272727;
        }
      }
      button {
        width: 100%;
      }
    }
    .description {
      padding: 0 0 25px;
      width: 100%;
      border-bottom: 1px solid $bdc;
      .full-title {
        font-size: 18px;
      }
      .product-id {
        font-size: 16px;

        margin: 0 0 21px;
      }
      p {
        margin: 0 0 25px;
        padding: 0;
      }
      .show-additional {
        display: none;
      }
      .additional-descr {
        display: block;
      }
    }
    .share-block {
      width: 218px;
      padding: 0;
      h6 {
        display: none;
      }
    }
  }
  .relative {
    li {
      span {
        padding: 40px 40px 0;

        background-color: #8c8c8c;
      }
      h4 {
        font-size: 21px;

        margin: 0 auto 20px;
      }
      a {
        font-size: 12px;

        width: 100%;

        background-color: #e8e8e8;
      }
    }
  }
}







@import '_carousel.scss';
