@media (min-width: 768px) and (max-width: 1023px) {
  header,
  section {
    width: 100%;
    min-width: 769px;
  }
  header {
    height: 92px;
    h1 {
      font-size: 36px;

      top: 38px;
      left: 33px;
    }
  }
  section {
    padding: 0 33px 130px 32px;
  }
  .product {
    .feature-img {
      width: 65.5%;
      margin: 0 0 32px;
    }
    form {
      width: 218px;
      padding: 0 0 25px;
      margin: 0 0 20px;
      dl {
        padding: 0 0 5px;
        margin: 0 0 26px;
      }
      dt,
      dd {
        width: 100%;
      }
      dt {
        font-size: 15px;
        font-weight: bold;
        line-height: 1;

        height: auto;
        height: 15px;
        margin: 0 0 10px;
      }
      dd {
        margin: 0 0 20px;
      }
      .price {
        margin: 0 0 20px;
        .price-old {
          display: none;
        }
        .price-normal {
          font-size: 36px;

          width: 100%;

          color: #272727;
        }
      }
      button {
        width: 100%;
      }
    }
    .description {
      padding: 0 0 25px;
      .full-title {
        font-size: 18px;
      }
      .product-id {
        font-size: 16px;

        margin: 0 0 21px;
      }
      p {
        margin: 0 0 25px;
      }
      .show-additional {
        display: block;
      }
      .additional-descr {
        display: none;
      }
    }
    .share-block {
      padding: 0;
      width: 218px;
      h6 {
        display: none;
      }
    }
  }
  .relative {
    .slick-container {
      width: 30.97%;
      span {
        padding: 40px 40px 0;

        background-color: #8c8c8c;
      }
      h4 {
        font-size: 21px;

        margin: 0 auto 20px;
      }
      a {
        font-size: 12px;

        width: 100%;

        background-color: #e8e8e8;
      }
    }
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  header,
  section {
    width: 100%;
    min-width: 320px;
  }
  header {
    height: 63px;
    h1 {
      font-size: 24px;
      font-weight: normal;

      top: 22px;
      left: 20px;
    }
  }
  section {
    padding: 0 20px;
  }
  .product {
    .feature-img {
      width: 100%;
    }
    form {
      width: 100%;
      margin: 0 0 25px;
      padding: 0 0 25px;
      dl {
        margin: 0 0 25px;
        padding: 0;
      }
      dt,
      dd {
        display: inline-block;

        height: 43px;
        margin: 0 0 25px;
      }
      dt {
        font-size: 15px;
        font-weight: bold;
        line-height: 3.3;

        width: 30%;
      }
      dd {
        width: 70%;
      }
      .select-color {
        width: 100%;
        min-width: 195px;
      }
      .price {
        margin: 0 0 25px;
        .price-old {
          display: none;
        }
        .price-normal {
          font-size: 36px;

          width: 100%;

          color: #272727;
        }
      }
      button {
        width: 100%;
        padding: 17px 0 16px;
      }
    }
    .description {
      width: 100%;
      margin: 0 0 15px;
      padding: 0 0 10px;

      border-bottom: 1px solid $bdc;
      .full-title {
        font-size: 18px;
      }
      .product-id {
        font-size: 16px;

        margin: 0 0 15px;
      }
      p {
        margin: 0 0 12px;
        padding: 0;
      }
      .show-additional {
        display: none;
      }
      .additional-descr {
        display: block;
      }
    }
    .share-block {
      width: 100%;
      margin: 0 0 22px;
      padding: 0;
      h6 {
        display: none;
      }
      ul {
        width: 190px;
        margin: 0 auto;
        li {
          margin: 0 9px;
        }
      }
    }
  }
  .relative {
    margin: 0 0 50px;
    .slick-container {
      position: relative;

      width: 100%;
      span {
        padding: 40px 40px 0;

        background-color: #8c8c8c;
      }
      h4 {
        font-size: 21px;

        margin: 0 auto 20px;
      }
      a {
        font-size: 12px;

        width: 100%;

        background-color: #e8e8e8;
      }
    }
  }
}
/* ie8 hacks */
@media \0screen\,screen\9 {
  .product {
    .share-block {
      ul {
        li {
          display: block;

          width: 33px;
          height: 33px;

          border: 0;
          a {
            line-height: 2;

            display: block;

            width: 100%;
            height: 100%;

            border: 0;

            @include sprite($sprite-ico-bdr);
            &:hover {
              @include sprite($sprite-ico-bdr-h);
            }
          }
        }
      }
    }
  }
}
